.header {
    display: flex; 
    height: 400px;
    background: #1f2937;
    flex-wrap:wrap;
  }
.header-container h1 {
    display: inline-flex;
    padding-left: 200px;
    color:#f9faf8;
    font-size:24px;
    font-family: arial;
    
}
.link-container  {
    display: inline-flex;
    width:900px;
    height: 50px;
    justify-content: end;
    gap:1em;
    padding-top:18px;
    flex-wrap:wrap;
    
}
.link-container a {
    font-family: arial;
    color:#e5e7eb;
    font-size: 18px;  
}
.website {
    display:flex;
    width: 100%;
    
}
.left{
    display:flex;
    flex-direction: column;
    width: 50%;
    
}
.left h1{
    display:flex;
    width:50%;
    color:#f9faf8;
    font-size:48px;
    font-weight:extra-bold;
    font-family: arial;
    justify-content: center;
    align-items: center;
    
    margin-left:200px;
}
.left p{
    display:flex;
    width:60%;
    margin-left:200px;
    font-size:18px;
    font-family: arial;
    color:#e5e7eb;
    margin-top:-30px;
}
.left button{
    display:flex;
    width:14%;
    margin-left:200px;
    background:#3882f6;
    color:#f9faf8;
    font-size:24px;
    font-family: arial;
    
}
.right {
    display:flex;
    flex-direction: column;
    width: 50%;
    
}
.right p{
    display:flex;
    background-color: gray;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 600px;
    color:#f9faf8;
    font-size:24px;
    font-family: arial;

}